<h1>Teacher Dashboard</h1>
<br />
<p> User Email: <%=current_user.email %> </p>
<p> User Role: <%=@role %> </p>
<%= link_to 'show Exams',surveys_path%><br/>
<%= link_to 'New Survey', new_survey_path %>
<br />
<br />

